*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App {
  text-align: center;
}


.event_app{
  border: 3px solid  #e6e2d3;
  border-radius: 10px;
  text-align: center;
  width: 60%;
  min-width: 600px;
  margin: 2rem auto;
  padding: 1rem 2rem 1rem 2rem;
}

svg {
  pointer-events: none;
  width: 25px;
  height: 25px;
}

path {
  stroke: #fff;
  stroke-width: 1;
  fill: none;
}

.event-add-btn{
  background-color:#008cba;
  font-size: 20px;
  color: #fff;
  width: 20%;
  height: 50px;
  margin-top:10px;
  margin-bottom:10px;
  border:1px solid #008cba;
  border-radius: 10px;
}

.event-table{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  align-items: center;
  border: none;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.event-table thead{
  font-size: 30px;
  font-weight: bolder;
}

.event-table-body td{
  vertical-align: middle;
  text-align: center;
} 

.event-table-body td input{
  vertical-align: middle;
  text-align: center;
  border: none;
  height: 100%;
  font-size: 18px;
  margin: auto;
}

.event-table-body tr{
  height: 50px;
  background-color: #e6e2d3;
  font-size: 12px;
  margin: 1rem;
}

.event_button_edit{
  height: 30px;
  width: 40px;
  margin: 0 2px;
  background-color:#008cba;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: none;
  border-radius:5px;
}

.event_button_delete{
  height: 30px;
  width: 40px;
  margin: 0 2px;
  background-color:#c94c4c;
  vertical-align: middle;
  color: #fff;
  border: none;
  border-radius:5px;
}